<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<link href="style/bootstrap.css" rel="stylesheet" />
	<script src="lib/angular.js"></script>
	<script src="com/sabre/module/app.module.js"></script>
	<script src="com/sabre/controller/firstcontroller.controller.js"></script>
</head>
<body ng-app="app" >
	<div class="container-fluid" ng-controller="firstcontroller" >
		<table class="table " border="1" cellspacing="5" cellpadding="5">
		<tr>
			<th ng-click="sortHandler('title')" >Title</th>
			<th ng-click="sortHandler('photo')" >Photo</th>
			<th ng-click="sortHandler('fName')" >Full Name</th>
			<th ng-click="sortHandler('city')" >City</th>
			<th ng-click="sortHandler('price')" >Price</th>
			<th ng-click="sortHandler('releasedate')" >Release Date</th>
		</tr>
		<tr ng-repeat="hero in data | orderBy : sorton : asend ">
			<td>{{ hero.title | uppercase }}</td>
			<td><img ng-src="{{ hero.photo }}" width="40" align="absmiddle" /></td>
			<td>{{ hero.fName+" "+hero.lName }}</td>
			<td>{{ hero.city }}</td>
			<td>{{ hero.price | currency : 'INR ' : 0 }}</td>
			<td>{{ hero.releasedate | date : 'dd/MMM/yyyy' }}</td>
		</tr>
	</table>
	</div>
	
</body>
</html>